.column {
    float: left;
    width: 50.5%;
    border: solid;
    border-width: 2px;
    border-color: black;
    margin : 3px;
    height: 500px;
}

h2{
    font-family: 'IBM Plex Mono' , monospace;
    color: #41833d;
}
.row{
    display : flex;
    align-items: flex-start;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

#Menu{
    width: 150px;
    position: fixed;
    z-index: 100;
}

#Canvas{
    background-color: #d4fafc;
    height: 1500px;
    margin-left: 160px;
}


.Block{
    background-color: red;
    padding : 5px;
    display:block;
    align-items:center;
    width: 90%;
    border: 1px solid black;
}

.Block:hover{
    box-shadow: 0 0 10px rgba(0,0, 0, 0.5);
    z-index :10;
    padding : 10px;
}

#Blockheader{
    margin : 5px;
}

.Text-Box{
    width : 200px;
}

.RunButton{
    margin : 5px;
}


#terminalcolumn{
    padding-left: 100px;
    text-align: left;
    width: 30%;
    height: 500px;
    position: fixed;
    z-index: 100;
    margin-left: 62%;
    font-family: 'IBM Plex Mono' , monospace;
}

#Delete{
    height : 100px;
    width : 560px;
    margin : 520px 10.3% 10px 61.7%; 
    z-index: 100;
    margin-bottom: 200px;  
    border: 2px solid black;
    position: fixed;
}

.button {
    display: inline-block;
    padding: 5px 5px;
    font-size: 11px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #8a91db;
    border: none;
    border-radius:3px;
    /* box-shadow: 0 5px #999; */
    margin: 5px;
  }

  .button:hover {background-color: #6268a8}

.button:active {
  background-color: #6268a8;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

#run{
    margin-left: 35%;
    font-size: 15px;
    font-family: 'IBM Plex Mono' , monospace;
}

