.column {
    float: left;
    width: 50.5%;
    border: solid;
    border-width: 1px;
    margin : 3px;
    height: 500px;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

#Menu{
    width: 150px;
}

#Canvas{
    background-color: cadetblue;
    height: 500px;
}


.Block{
    background-color: red;
    padding : 5px;
    display:block;
    align-items:center;
    width: 750px;
}

#Blockheader{
    margin : 5px;
}

.Text-Box{
    width : 200px;
}

.RunButton{

    margin : 5px;
}

.languageButtons{
    color: blanchedalmond;
    padding: 5px;
}

#terminalcolumn{
    text-align: center;
    width: 300px;
    height: 500px;
}

#Delete{
    height : 100px;
    margin : 10px 33.3% 10px 33.3%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

